.artist {
    text-align: center;
    font-size: 25px;
}

.artistimg {
    width: 150px;
    height: 140px;
    border-radius: 100px;
    cursor: pointer;
}

#atif {
    float: left;
    margin-left: 350px;
}

#ed {
    float: left;
    margin-left: 90px;
}

#miley {
    float: left;
    margin-left: 90px;
}

#saleena {
    float: left;
    margin-left: 200px;
}

#zayn {
    top: 330px;
    float: left;
    margin-left: 90px;
}

#camila {
    top: 330px;
    float: left;
    margin-left: 90px;
}

#demi {
    top: 330px;
    float: left;
    margin-left: 90px;
}

#hasley {
    float: left;
    margin-left: 104px;
}

#justin {
    float: left;
    margin-left: 90px;
}

#katy {
    float: left;
    margin-left: 90px;
}

#suga {
    float: left;
    margin-left: 90px;
}

#taylor {
    float: left;
    margin-left: 90px;
}